<html>
<head>
    <meta name="viewport" content="initial-scale=1.0, width=device-width"/>
    <script src="https://js.api.here.com/v3/3.1/mapsjs-core.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://js.api.here.com/v3/3.1/mapsjs-service.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://js.api.here.com/v3/3.1/mapsjs-mapevents.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://js.api.here.com/v3/3.1/mapsjs-data.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://js.api.here.com/v3/3.1/mapsjs-ui.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="https://js.api.here.com/v3/3.1/mapsjs-ui.css"/>
</head>

<body style='margin: 0'>
<div style="width: 50%; height: 50%; margin: 0 auto; margin-top:15%" id="mapContainer"></div>

<script>
    var platform = new H.service.Platform({
        'apikey': '{{apikey}}'
    });

    const lat = 41.24098;
    const long = -102.24019;

    var maptypes = platform.createDefaultLayers();
    var map = new H.Map(
        document.getElementById('mapContainer'),
        maptypes.raster.terrain.map,
        {
            zoom: 4,
            center: {lat: lat, lng: long}
        });

    var reader = new H.data.geojson.Reader('{{ url_for("static", filename="states.json") }}');
    reader.parse();
    var mapEvents = new H.mapevents.MapEvents(map);
    map.addEventListener('tap', function (evt) {
        var coord = map.screenToGeo(evt.currentPointer.viewportX, evt.currentPointer.viewportY);
        console.log(coord);
        var lat = coord.lat.toString();
        var lng = coord.lng.toString();

        var xhr = new XMLHttpRequest();
        xhr.open('POST', 'tapped', true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        
        xhr.onreadystatechange = () => {
            if(xhr.readyState == 4 && xhr.status == 200) {
                console.log(xhr.responseText);
            }
        }


        xhr.send(JSON.stringify({'lat': lat, 'lng': lng}));


        console.log(xhr.status);

    });

    var behavior = new H.mapevents.Behavior(mapEvents);
    var ui = H.ui.UI.createDefault(map, maptypes);

    layer = reader.getLayer();

    map.addLayer(layer);

</script>
</body>
</html>