<div class="table-responsive">
  <table class="table table-striped" style="overflow-x: hidden;">
    <thead style="width:100%">
      <tr>
        <th scope="col">Property</th>
        <th scope="col">Value</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>State</td>
        <td>{{state_data.State}}</td>
      </tr>
      <tr>
        <td>Clear_Days</td>
        <td>{{state_data.Clear_Days}}</td>
      </tr>
      <tr>
        <td>mPS(20m)</td>
        <td>{{state_data['mPS(20m)']}}</td>
      </tr>
      <tr>
        <td>Petroleum-Fired(%)</td>
        <td>{{state_data['Petroleum-Fired(%)']}}</td>
      </tr>
      <tr>
        <td>Natural_Gas-Fired(%)</td>
        <td>{{state_data['Natural_Gas-Fired(%)']}}</td>
      </tr>
      <tr>
        <td>Coal-Fired(%)</td>
        <td>{{state_data['Coal-Fired(%)']}}</td>
      </tr>
      <tr>
        <td>Nuclear(%)</td>
        <td>{{state_data['Nuclear(%)']}}</td>
      </tr>
      <tr>
        <td>Renewables(%)</td>
        <td>{{state_data['Renewables(%)']}}</td>
      </tr>
      <tr>
        <td>Clust</td>
        <td>{{state_data.clust}}</td>
      </tr>
    </tbody>
  </table>
</div>